@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  // overflow-x: hidden;
  // overflow-y: hidden;
  overflow: auto;
}
.ecobites {
  padding-top: 20px;
  padding-left: 30px;
  font-family: "Times New Roman", Times, serif;
}
.summary {
  color: rgb(18, 17, 17);
  font-size: 30px;
  padding-left: 30px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 1px;
}

.parent {
  text-align: center;
}

@media (max-width: 600px) {
  .ecobites {
    padding-top: 10px;
    padding-left: 15px;
  }

  .summary {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 10px;
  }

  .button_design {
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
  }
  .button_white_design{
    font-size: 20px;;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .ecobites {
    padding-top: 15px;
    padding-left: 20px;
  }

  .summary {
    font-size: 35px;
    padding-left: 30px;
  }

  .button_design {
    padding-right: 20%;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
  }
  .button_white_design{
    font-size: 25px;;
  }
  
}
@media (max-width: 1199px) and (min-width: 768px) {
  .button_design{
    font-size: 20px;
  }
  .button_white_design{
    font-size: 20px;
  }
}
 